# ignore everything
*

# allow directories
!*/

# allow source files
!*.cc
!*.h
!*.md
!Makefile
!*.html
!*.png
!*.svg
!*.ts
!*.tsx
!*.mts
!*.css
!*.json
!*.yml
!.gitignore

# specific excludes
CLAUDE.md
.build/
**/cubealgo
**/tests
**/cfop-test
**/node_modules/
Web/dist/
Web/src/engine/engine.mjs
Web/src/engine/engine.wasm
