# ignore everything
*

# allow directories
!*/

# allow source files
!*.cc
!*.h
!*.md
!Makefile
!*.html
!*.png
!*.svg
!.gitignore

# specific excludes
CLAUDE.md
.build/
**/cubealgo
**/tests
**/cfop-test
**/simulator
